/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*,
h1,
h2,
h3,
h4,
h5,
button,
h6 {
  font-family: 'Poppins', sans-serif !important;
}
th,
td {
  border: 0;
  padding: 0;
}
textarea:focus,
input:focus {
  outline: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}
body {
  position: relative;
  color: white;
  height: 100vh;
  background: #01092d;
  font-family: sans-serif;
  overflow-y: hidden;
}
.wrapper-main {
  width: 100%;
  height: 100%;
}

.wrapper-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0.5px solid rgb(0, 27, 70);
  margin: 0.5rem 1rem;
  padding: 1rem 1rem;
  border-radius: 5px;
  background: rgb(1, 10, 53);
  min-height: 40rem;
  max-height: 40rem;
}
.wrapper-inner-table {
  margin-bottom: 1rem;
  overflow-y: scroll;
}
.wrapper-inner-table::-webkit-scrollbar {
  width: 20px;
}
.wrapper-inner-table::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
.wrapper-inner-table::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: content-box;
  min-width: 32px;
  min-height: 32px;
}
.wrapper-inner-table::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
.button-wrapper {
  margin: 0.5rem 2rem;
}
.button {
  text-transform: uppercase;
  background-color: white;
  padding: 5px 15px;
  border-radius: 3px;
  border: none;
  appearance: none;
  font-weight: 600;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: transform ease-in 0.1s;
  cursor: pointer;
  background: linear-gradient(
    to right,
    rgba(23, 111, 254, 1) 0%,
    rgba(24, 173, 253, 1) 100%
  );
  color: white;
  outline: none;
  font-size: 0.9rem;
}

.button:hover {
  background: rgba(24, 173, 253, 1);
}

.button-heading {
  padding: 10px 22px;
  border-radius: 5px;
  font-weight: 500;
}

.button-secondary,
.button-secondary:hover {
  background: white;
  border: 1px solid #65708f;
  color: black;
}

.proxy-table {
  border: none;
  border-collapse: collapse;
  height: 400px;
  overflow-y: scroll;
  text-align: left;
}
.proxy-table-head {
  background: linear-gradient(
    to right,
    rgba(23, 111, 254, 1) 0%,
    rgba(24, 173, 253, 1) 100%
  );
  border-radius: 5px;
}
.proxy-table-head-row:first-child .proxy-table-head-column:first-child {
  border-radius: 7px 0 0 7px;
}
.proxy-table-head-row:last-child .proxy-table-head-column:last-child {
  border-radius: 0 7px 7px 0;
}

.proxy-table-head-row {
  font-size: 0.8em;
  color: white;
  font-weight: 300;
}

.proxy-table-body-column {
  color: #aab0c0;
  font-size: 12px;
  font-weight: 400;
}
.proxy-column {
  width: inherit;
}

.proxy-column div {
  width: inherit;
  padding: 0.5rem 1rem;
}
.proxy-column:first-child div {
  border-radius: 7px 0 0 7px;
}

.proxy-column:last-child div {
  border-radius: 0 7px 7px 0;
}

.proxy-table-body-column div {
  background: #020e4a;
  margin-bottom: 0.5rem;
}
.proxy-table-body-row:first-child .proxy-table-body-column div {
  margin-top: 0.5rem;
}
.select-menu {
  display: none;
  position: relative;
  bottom: -15px;
  right: 8px;
  background-color: #000f48;
  color: #50608b;
  min-width: 14.2rem;
  border-radius: 4px;
  padding: 5px 0.5rem;
}
.select {
  background-color: #000f48;
  color: #65708f;
  border: none;
  border-radius: 4px;
  padding: 5px 0.5rem;
  min-width: 12rem;
  margin-right: 0.5rem;
  font-weight: 700;
}

.select-input {
  background-color: #000f48;
  border: none;
  color: #aab0c0;
  font-size: 12px;
  font-weight: 400;
}

.select-arrow {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  outline: none;
  width: 1rem;
  cursor: pointer;
}
.select-option {
  cursor: pointer;
  margin-top: 4px;
  outline: none;
  color: #aab0c0;
  font-size: 12px;
  font-weight: 400;
}
.select-option:hover {
  background-color: #07195f;
}
.footer-bar {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}

.footer-l {
  display: flex;
}
.footer-c {
  display: flex;
  justify-content: center;
}
.footer-r {
  display: flex;
  justify-content: flex-end;
}

.select-wrapper {
  display: flex;
  align-items: center;
  outline: none;
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  padding: 2rem 2rem;
  height: 20rem;
  width: 35rem;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.modal-header-text {
  color: black;
  font-weight: 600;
  text-transform: uppercase;
}
.modal-header-close {
  font-size: 2rem;
  cursor: pointer;
}

.modal-body {
  height: 11rem;
  margin-bottom: 1rem;
}
.modal-body-textarea {
  width: 100%;
  resize: none;
  padding: 1rem 1rem;
  border-radius: 10px;
  color: #65708f;
  box-shadow: 0px 2px 7px -1px rgba(24, 39, 75, 0.12),
    0px 4px 22px -1px rgba(24, 39, 75, 0.14);
  border: 0.5px #d1dbf5 solid;
  height: inherit;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.modal-cta {
  margin-left: 0.3rem;
}
.absolute {
  width: 0;
  height: 0;
  position: absolute;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.uppercase {
  text-transform: uppercase;
}

.navigation-container {
  height: 5rem;
  -webkit-app-region: drag;
}

.navigation-wrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 0.5rem 2rem;
}

.navigation-left-container {
  display: flex;
  align-items: center;
}

.navigation-logo-wrapper {
  width: 5rem;
  height: 100%;
  /* background-color: blue; */
}

.navigation-text-wrapper {
  text-align: center;
  /* background-color: red; */
  height: 100%;
  display: flex;
  align-items: center;
}

.navigation-text {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: white;
  vertical-align: middle;
}

.navigation-menu-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navigation-menu-button {
  width: inherit;
  height: auto;
  margin-left: 1rem;
  color: white;
  font-size: 2rem;
  cursor: pointer !important;
  -webkit-app-region: no-drag;
  outline: none;
}
